<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monitoring Service</title>
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <script src="vendor/js/jquery-3.3.1.slim.min.js"></script>
    <script src="vendor/js/popper.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor/css/datatables.min.css" />
    <script type="text/javascript" src="vendor/js/datatables.min.js"></script>
    <link rel="stylesheet" href="vendor/style.css">
</head>

<body ng-app="wiMonitor">
    <div class="container-fluid h-100" ng-controller="appController">
        <div class="row h-100">
            <div class="col-12 col-md-3 col-lg-2 my-4">
                <h4 class="border-bottom">
                    Monitor Chat
                </h4>
            </div>
            <div class="col-12 col-md-9 col-lg-10 border-left my-4 overflow-auto">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mean-tab" data-toggle="tab" href="#mean" role="tab" aria-controls="mean" aria-selected="false">Socket Connection</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <br>
                        <div class="form-inline mb-2">
                            <label for="hours" class="mr-1">Request on </label>
                            <select id="days" class="form-control mr-2" ng-model="days">
                                <option value="1">1 Day before</option>
                                <option value="2">2 Days before</option>
                                <option value="3">3 Days before</option>
                                <option value="5">5 Days before</option>
                                <option value="10">10 Days before</option>
                                <option value="20">20 Days before</option>
                                <option value="30">30 Days before</option>
                                <option value="60">60 Days before</option>
                                <option value="999">All</option>
                            </select>
                            <button class="btn btn-primary" ng-click="getRequests()">Go</button>
                        </div>
                        <table id="main-table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Username</th>
                                    <th>Path</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="mean" role="tabpanel" aria-labelledby="mean-tab">
                        <br>
                        <div class="form-inline mb-2">
                            <label for="days" class="mr-1">Request on </label>
                            <select id="days" class="form-control mr-2" ng-model="days">
                                <option value="1">1 Day before</option>
                                <option value="2">2 Days before</option>
                                <option value="3">3 Days before</option>
                                <option value="5">5 Days before</option>
                                <option value="10">10 Days before</option>
                                <option value="20">20 Days before</option>
                                <option value="30">30 Days before</option>
                                <option value="60">60 Days before</option>
                                <option value="999">All</option>
                            </select>
                            <button class="btn btn-primary" ng-click="getMeanRequests()">Go</button>
                        </div>
                        <table id="mean-table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Socket ID</th>
                                    <th>Number of Concurrent Connections</th>
                                    <th>Status</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
<script src="./main.js"></script>

</html>